# Django
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,192.168.100.13,web
DJANGO_USE_X_FORWARDED_HOST=1
DJANGO_CSRF_TRUSTED_ORIGINS=http://192.168.100.13:8000,http://192.168.100.13:8080
SITE_URL=http://192.168.100.13:8000

# Django database
POSTGRES_DB=exchange_db
POSTGRES_USER=exchange_user
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Keycloak database
KEYCLOAK_DB=keycloak_db
KEYCLOAK_DB_USER=keycloak_user
KEYCLOAK_DB_PASSWORD=change-me

# Keycloak admin bootstrap
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=change-me

# Keycloak URLs
KEYCLOAK_PUBLIC_URL=http://192.168.100.13:8080
KEYCLOAK_INTERNAL_URL=http://keycloak:8080
KEYCLOAK_REALM=exchange-learning
KEYCLOAK_CLIENT_ID=exchange-web
KEYCLOAK_CLIENT_SECRET=change-me
KEYCLOAK_ADMIN_CLIENT_ID=exchange-admin-api
KEYCLOAK_ADMIN_CLIENT_SECRET=change-me

# App redirects
LOGIN_REDIRECT_URL=/dashboard/
LOGOUT_REDIRECT_URL=/
