# Django
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,192.168.100.13,web,nginx
SITE_URL=http://192.168.100.13

# Django database
POSTGRES_DB=exchange_db
POSTGRES_USER=exchange_user
POSTGRES_PASSWORD=exchange_password
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Keycloak database
KEYCLOAK_DB=keycloak_db
KEYCLOAK_DB_USER=keycloak_user
KEYCLOAK_DB_PASSWORD=keycloak_password

# Keycloak admin bootstrap
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin_password

# Keycloak URLs
KEYCLOAK_PUBLIC_URL=http://192.168.100.13:8080
KEYCLOAK_INTERNAL_URL=http://keycloak:8080
KEYCLOAK_REALM=exchange-learning
KEYCLOAK_CLIENT_ID=exchange-web
KEYCLOAK_CLIENT_SECRET=change-me
KEYCLOAK_ADMIN_CLIENT_ID=exchange-admin-api
KEYCLOAK_ADMIN_CLIENT_SECRET=change-me-admin

# App redirects
LOGIN_REDIRECT_URL=/dashboard/
LOGOUT_REDIRECT_URL=/
